<div class="title">

    <h1>Ver Datos</h1>

</div>
<div class="container">

    <mat-card class="card">
        <mat-card-title>Bob</mat-card-title>
        <mat-card-content>
            <p><strong>Codigo: </strong>1991</p>
            <p><strong>Nombre: </strong>Bob</p>
            <p><strong>Direccion: </strong>Miraflores</p>
            <p><strong>Telefono: </strong>65629023</p>

        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/tercerParcial" mat-raised-button>Volver</button>
        </mat-card-actions>



    </mat-card>


</div>

