<div class="title">
    <h1>Agregar Datos</h1>
</div>
<app-spinner *ngIf="loading" ></app-spinner>
<div class="container">
    <mat-card class="card">
        <mat-card-subtitle>
            Datos
        </mat-card-subtitle>
        <form [formGroup]="form" (ngSubmit)="agregarDatos()">
            <mat-grid-list cols="2" rowHeight="80px">
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Codigo</mat-label>
                        <input type="number" formControlName = "codigo" matInput autocomplete="off">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input formControlName = "nombre" matInput autocomplete="off">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Direccion</mat-label>
                        <input formControlName = "direccion"matInput autocomplete="off">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Telefono</mat-label>
                        <input type="number" formControlName = "telefono" matInput autocomplete="off">
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2">
                    <button [disabled]="form.invalid" type="submit" class="btnAceptar" mat-raised-button color="primary">Aceptar</button>
                    <button mat-raised-button routerLink="/tercerParcial">Volver</button>
                </mat-grid-tile>
              </mat-grid-list>
        </form>
    </mat-card>
</div>
